<h1>New multiplication</h1>

<form action="/wizard_multiply">
  <label for="mult_form_first_number">
    Multiply this:
  </label>
  <input id="mult_form_first_number" name="mult_first" text="text">

    <label for="mult_form_second_number">
    by this:
  </label>
  <input id="mult_form_second_number" name="mult_second" text="text">


  <button>
    Multiply!
  </button>
</form>
